
%widget {
  position: relative;
  border: 1rem solid gray;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.widget {
  @extend %widget;
  height: 0;
  width: 0;
}

.active {
  @extend %widget;
  height: 40vh;
  width: 40vh;
  transition: height 1000ms, width 1000ms;
  background-color: white;
  @media (min-width: 600px) {
    height: 60vh;
    width: 60vh;
  }
}
