
%widget {
  position: relative;
  border: 1rem solid gray;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.widget {
  @extend %widget;
  height: 0;
  width: 0;
}

.active {
  @extend %widget;
  height: 50vh;
  width: 50vh;
  transition: height 1000ms, width 1000ms;
  background-color: white;
}
