.clearDay {
  background-color: #155385;
}

.clearNight{
  background-color: #142641;
}

.rain {
  background-color: #D4DFE0;
}

.snow {
  background-color: #C5C8CE;
}

.sleet {
  background-color: #526466;
}

.wind {
  background-color: #BE7D6A;
}

.fog {
  background-color: #346593;
}

.cloudy {
  background-color: #B4B4B4;
}

.partlyCloudyDay {
  background-color: #155385;
}

.partlyCloudyNight {
  background-color: #26394A;
}
