.clearDay {
  background-color: #95d5f0;
}

.clearNight{
  background-color: #2a69a8;
}

.rain {
  background-color: #7daddb;
}

.snow {
  background-color: #dbdad6;
}

.sleet {
  background-color: #b9bbbf;
}

.wind {
  background-color: #a59451;
}

.fog {
  background-color: #a8aaa7;
}

.cloudy {
  background-color: #897979;
}

.partlyCloudyDay {
  background-color: #b9e6ea;
}

.partlyCloudyNight {
  background-color: #878ea3;
}
