.clearDay {
  background-image: url('/assets/img/partly-cloudy.png');
}

.warmDay {
  background-image: url('/assets/img/clear-warm.png');
}

.hotDay {
  background-image: url('/assets/img/clear-hot.png');
}

.clearNight{
  background-image: url('/assets/img/clear-night.png');
}

.rain {
  background-image: url('/assets/img/rain-cool.png');
}

.snow {
  background-image: url('/assets/img/snow.png');
}

.sleet {
  background-image: url('/assets/img/rain-cold.png');
}

.wind {
  background-image: url('/assets/img/wind.png');
}

.fog {
  background-image: url('/assets/img/fog-day.png');
}

.cloudy {
  background-image: url('/assets/img/cloud-day.png');
}

.partlyCloudyDay {
  background-image: url('/assets/img/partly-cloudy.png');
}

.partlyCloudyNight {
  background-image: url('/assets/img/cloud-night.png');
}
